flask
flask_sqlalchemy
psycopg2-binary
flask-wtf
gunicorn
flask-qrcode
flask-login
flask-moment
sqlalchemy
python-dateutil
unidecode
webpreview
flask-mistune
flask-mail
markdown
flask-marshmallow
marshmallow-sqlalchemy
flask-cors