<form method="post"
      action="{{ url_for('index') }}" >
    {{ package_basics.csrf_token }}
    <div class="row first_color mb-2">
        <div class="col-12 text-center p-3">
            <div class="col-12 text-center h5">
                Select Shipping
            </div>
            {% include 'index_usps/create/_select_shipping.html' %}
        </div>
    </div>
    <div class="row first_color p-2 mb-2" >
        <div class="col-12 text-center h4">
            Information
        </div>
        {% include 'index_usps/create/_address_form.html' %}
    </div>


</form>