
<!--Custom Package -->

<div class="col-12 ">

    <div class="row mb-3 ">
        <div class="col-8 offset-2 border">
            <div class="col-12 mt-3 text-center ">
                <b> Custom Package </b>
            </div>
            <div class="col-3 pt-3">
            </div>
            <div class="col-5 offset-3 ">
                <!--Legal Letter -->
                <div class="row">
                    <div class="col-6">
                        Metric
                    </div>
                    <div class="col-6 ">
                        <input type="radio" name="metric_or_imperial" value="1" id="1a" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ">
                        Imperial
                    </div>
                    <div class="col-6 ">
                        <input type="radio" name="metric_or_imperial" value="2" id="1a" >
                    </div>
                </div>
                <div class="row text-center ">
                    <div class="col-12 "><b>cm/in</b></div>
                    <div class="col-4">
                        <label class="form-label">Length</label>
                        {{ render_field(package_basics.length, class="form-control form-control-sm" ) }}
                    </div>
                    <div class="col-4">
                        <label class="form-label">Width</label>
                        {{ render_field(package_basics.width, class="form-control form-control-sm" ) }}
                    </div>
                    <div class="col-4">
                        <label class="form-label">Height</label>
                        {{ render_field(package_basics.height, class="form-control form-control-sm" ) }}
                    </div>
                </div>
                <div class="col-12 text-center p-3">
                    <div class="col-12 text-center h5">
                        Weight
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <label class="form-label "><b>lbs/kg</b> </label>
                            {{ render_field(package_basics.weight_one, class="form-control form-control-sm" ) }}
                        </div>
                        <div class="col-6">
                            <label class="form-label "><b>oz/g</b></label>
                            {{ render_field(package_basics.weight_two, class="form-control form-control-sm" ) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3 ">
    <div class="col-6 offset-3 text-center">
        <b>Or<br><br> Select flate Rate Shipping</b>
    </div>
</div>

<div class="row mb-3 ">
    <div class="col-8 offset-2 ">
           {{ render_field(package_basics.shipping_type, class="form-control form-control-sm" ) }}
    </div>
</div>